
  <main-nav (navItemSelected)="changeView($event)"></main-nav>
  <div class="main-container">

    <div class="standard-container" [ngStyle]="{display: view == 'quick_entry' ? 'block' : 'none'}">
      <quick-entry></quick-entry>
    </div>

    <div class="stage-container" [ngStyle]="{display: view == 'stage' ? 'block' : 'none'}">
      <div class="stage-top-flexible-container">
        <div class="standard-container">
          <feature-entity></feature-entity>
        </div>
      </div>
      <div class="related-entity-container">
        <div class="super-entity-container">
          <related-entities [relation_type]="'Super'"></related-entities>
        </div>
        <div class="sub-entity-container">
          <related-entities [relation_type]="'Sub'"></related-entities>
        </div>
      </div>
    </div>


    <div class="standard-container" [ngStyle]="{display: view == 'focus_entities' ? 'block' : 'none'}">
      <focus-entities></focus-entities>
    </div>


    <div class="standard-container" [ngStyle]="{display: view == 'no_parent_entities' ? 'block' : 'none'}">
      <no-parent-entities></no-parent-entities>
    </div>

  </div>
